body {
  margin: 0;
  font-family: "Fira Code", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code"), url(./fonts/FiraCode-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 900;
  src: local("Fira Code"), url(./fonts/FiraCode-Bold.ttf) format("truetype");
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#reset-button {
  text-decoration: underline solid transparent;
  transition: text-decoration 0.2s;
}

#reset-button:hover {
  text-decoration: underline solid black;
}
